/********
 * Votre CSS
 ********/

html,
body {
  height: 100%;
  margin: 0;
  background-color: #e5e5e5;

  font-family: "Roboto", "RobotoDraft", sans-serif;
  font-size: 95%;
}
.liste {
  display: block;
  border-top: 1px solid #ccc;
  border-bottom: none;
  /*background: #666;*/
  /*color: #03a9f4;*/
  list-style: none;
  margin: 0;
  padding: 0;
}

.liste > div {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
  /*background: #666;*/
  cursor: pointer;
  transition: color 200ms ease-in-out;
  /*background-color: #003777;*/
  background-color: #e85e30;
  color: #ffffff;
}
.liste > div:hover {
  color: #000000;
  transition: color 200ms ease-in-out;
}

@media all and (max-width: 640px) {
  footer {
    display: none;
  }
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-top: 3px;
  text-align: center;
  background-color: #ffffff;
}

footer p {
  display: inline;
  padding-right: 50px;
  font-size: 10px;
}

.options {
  margin-bottom: 50px;
}

.erreur {
  color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.contenu_modal {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

img{
    max-height: 200px; /* limiter la taille des images des bouteilles */
}